.CodeMirror {
  height: 100%;
  width: 100%;
  background: transparent;
  font-size: 14px;
  font-family: "Source Code Pro", "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

.CodeMirror-scroll {
  padding: 15px;
  box-sizing: border-box;
}
