@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8miwmc');
  src:  url('fonts/icomoon.eot?8miwmc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8miwmc') format('truetype'),
    url('fonts/icomoon.woff?8miwmc') format('woff'),
    url('fonts/icomoon.svg?8miwmc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list_checked:before {
  content: "\e90a";
}
.icon-bold:before {
  content: "\e900";
}
.icon-code:before {
  content: "\e901";
}
.icon-italic:before {
  content: "\e902";
}
.icon-link:before {
  content: "\e903";
}
.icon-list_bulleted:before {
  content: "\e904";
}
.icon-list_numbered:before {
  content: "\e905";
}
.icon-photo:before {
  content: "\e906";
}
.icon-quote:before {
  content: "\e907";
}
.icon-strikethrough:before {
  content: "\e908";
}
.icon-upload:before {
  content: "\e909";
}
