.melt-light {
  @import './melt-light.scss';
}

.melt-dark {
  @import './melt-dark.scss';
}

.melt-light,
.melt-dark {
  .markdown-body {
    padding: 15px 30px;

    // タスクリスト
    .task-list {
      list-style: none;

      .task-list-item {
        input {
          margin: 0 0.2em 0.25em -1.4em;
        }
      }
    }

    // コードブロック内のコピーボタン (独自拡張)
    .codeblock {
      position: relative;
      overflow: hidden;
      padding: 16px 38px 16px 16px;

      .clipboard {
        position: absolute;
        right: 12px;
        top: 16px;
        font-size: 16px;
        cursor: pointer;

        &:before {
          display: inline-block;
          content: '';
          width: 16px;
          height: 16px;
          background-image: url(@/images/icons/content_copy.svg);
          background-size: 16px 16px;
          background-repeat: no-repeat;
        }

        &:hover {
          opacity: 0.6;
        }
      }

      > div {
        overflow: auto;
      }
    }
  }
}
