// 色定義上書き元のcss
// https://github.com/codemirror/CodeMirror/blob/master/lib/codemirror.css#L109-L143
.CodeMirror.cm-s-melt-dark {
  color: #c9d1d9;

  .CodeMirror-cursor {
    border-left-color: #c9d1d9;
  }

  .CodeMirror-selected {
    background-color: rgba(0, 177, 179, 0.4);
  }

  .cm-atom,
  .cm-attribute,
  .cm-meta,
  .cm-number,
  .cm-operator,
  .cm-property,
  .cm-qualifier,
  .cm-string {
    color: #6cb6ff;
  }

  .cm-link {
    color: #539bf5;
  }

  .cm-builtin,
  .cm-keyword,
  .cm-variable {
    color: #f47067;
  }

  .cm-tag {
    color: #8ddb8c;
  }

  .cm-comment {
    color: #768390;
  }

  .cm-def,
  .cm-variable-2,
  .cm-variable-3 {
    color: #c9d1d9;
  }

  // リスト文字の色設定。IME未確定時に色が変わるので上書きしている
  .cm-formatting + .cm-keyword,
  .cm-formatting + .cm-keyword + .cm-keyword,
  .cm-formatting + .cm-keyword + .cm-keyword + .cm-keyword {
    color: #c9d1d9;
  }

  .cm-hr,
  .cm-url,
  .cm-formatting-header,
  .cm-formatting-list,
  .cm-formatting-task {
    color: #444c56;
  }

  .cm-hashtag {
    color: #00b1b3;
  }

  // 検索ダイアログ
  .CodeMirror-dialog-top {
    background-color: $dark-bg-color;
    border-bottom-color: $dark-border-color;
  }

  // 行番号
  .CodeMirror-gutters {
    border-right-color: $dark-border-color;
  }
}
