.CodeMirror.dialog-opened {
  padding-top: 40px;
}

.CodeMirror-dialog-top.CodeMirror-dialog-top {
  padding: 5px 10px;

  &:before {
    content: '\e778';
    font-family: 'element-icons';
  }
}

.CodeMirror-search-label,
.CodeMirror-search-hint {
  display: none;
}

.CodeMirror-search-field {
  font-size: 22px;
}

.cm-searching {
  background-color: rgba(255, 255, 0, 0.7);
}
