$light-color: #24292f;
$light-bg-color: #fff;
$light-header-bg-color: #4a4a4a;
$light-input-bg-color: #fff;
$light-input-border-color: #dcdfe6;

$dark-color: #adbac7;
$dark-bg-color: #22272e;
$dark-header-bg-color: #2d333b;
$dark-input-bg-color: #1c2128;
$dark-input-border-color: #444c56;
