html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Source Code Pro", "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

#app {
  height: 100%;
}

button {
  outline: none;
}
