html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, 'BlinkMacSystemFont',  Sans-Serif;
  -webkit-font-smoothing: antialiased;
}

#app {
  height: 100%;
}

button {
  outline: none;
}

// Element UIのdialogがアニメーションを止める設定がないためCSSで強制的に無効にする
.el-dialog__wrapper,
.v-modal {
  animation: none !important;
}
