.CodeMirror.cm-s-melt-light {
  // コードブロック内に適用させるための色定義
  // 下記定義を参考に、GFMのハイライトのカラーコードを設定
  // 引用元) https://github.com/codemirror/CodeMirror/blob/master/lib/codemirror.css#L109-L143
  .cm-atom {color: #005cc5;}
  .cm-attribute {color: #005cc5;}
  .cm-builtin {color: #e36209;}
  .cm-comment {color: #6a737d;}
  .cm-def {color: #6f42c1;}
  .cm-keyword {color: #d73a49;}
  .cm-link {color: #0366d6;}
  .cm-meta {color: #005cc5;}
  .cm-number {color: #005cc5;}
  .cm-operator {color: #005cc5;}
  .cm-string {color: #032f62;}
  .cm-tag {color: #22863a;}
  .cm-variable {color: #d73a49;}
  .cm-variable-2 {color: rgba(0,0,0,.75);}
  .cm-variable-3 {color: rgba(0,0,0,.75);}

  height: 100%;
  width: 100%;
  background: transparent;
  color: rgba(0,0,0,.75);
  font-size: 16px;
  font-family: 'Source Code Pro';
  line-height: 1.5em;

  .CodeMirror-scroll {
    padding: 15px;
    box-sizing: border-box;
  }

  .CodeMirror-selected {
    background-color: #00b1b3;
    opacity: 0.2;
  }

  .cm-link {
    word-break: break-all;
  }

  .cm-link.cm-variable-2,
  .cm-link.cm-variable-3 {
    text-decoration: none;
  }

  .cm-formatting,
  .cm-url {
    color: rgba(0,0,0,.28);
  }

  .cm-formatting-strikethrough {
    text-decoration: none;
  }

  // リスト文字の色設定。IME未確定時に色が変わるので上書きしている
  .cm-formatting + .cm-keyword,
  .cm-formatting + .cm-keyword + .cm-keyword,
  .cm-formatting + .cm-keyword + .cm-keyword + .cm-keyword {
    color: rgba(0,0,0,.75);
  }

  .cm-header {
    line-height: 1.25em;
  }

  .cm-header-1 {
    font-size: 2em;
  }

  .cm-header-2 {
    font-size: 1.5em;
  }

  .cm-header-3 {
    font-size: 1.25em;
  }

  .cm-header-4 {
    font-size: 1em;
  }

  .cm-header-5 {
    font-size: 0.875em;
  }

  .cm-header-6 {
    font-size: 0.85em;
  }

  .cm-hr {
    color:rgba(0,0,0,.28);
    font-size: 1.5em;
  }
}
