.CodeMirror.cm-s-melt-light {
  // コードブロック内に適用させるための色定義
  // 引用元) https://github.com/codemirror/CodeMirror/blob/master/lib/codemirror.css#L109-L143
  .cm-header {color: blue;}
  .cm-quote {color: #090;}
  .cm-negative {color: #d44;}
  .cm-positive {color: #292;}
  .cm-keyword {color: #708;}
  .cm-atom {color: #219;}
  .cm-number {color: #164;}
  .cm-def {color: #00f;}
  .cm-variable-2 {color: #05a;}
  .cm-variable-3, .cm-s-default .cm-type {color: #085;}
  .cm-comment {color: #a50;}
  .cm-string {color: #a11;}
  .cm-string-2 {color: #f50;}
  .cm-meta {color: #555;}
  .cm-qualifier {color: #555;}
  .cm-builtin {color: #30a;}
  .cm-bracket {color: #997;}
  .cm-tag {color: #170;}
  .cm-attribute {color: #00c;}
  .cm-hr {color: #999;}
  .cm-link {color: #00c;}
  .cm-error {color: #f00;}
  .cm-invalidchar {color: #f00;}

  height: 100%;
  width: 100%;
  background: transparent;
  color: rgba(0,0,0,.75);
  font-size: 16px;
  font-family: 'Source Code Pro', -apple-system, 'BlinkMacSystemFont',  Sans-Serif;
  line-height: 1.5em;

  .CodeMirror-scroll {
    padding: 15px;
    box-sizing: border-box;
  }

  .CodeMirror-selected {
    background-color: #00b1b3;
    opacity: 0.2;
  }

  .cm-formatting,
  .cm-url {
    color: rgba(0,0,0,.28);
  }

  .cm-formatting-strikethrough {
    text-decoration: none;
  }

  .cm-formatting + :not(.cm-formatting),
  .cm-formatting + :not(.cm-formatting) + :not(.cm-formatting),
  .cm-formatting + :not(.cm-formatting) + :not(.cm-formatting) + :not(.cm-formatting) {
    color: rgba(0,0,0,.75);
  }

  .cm-header {
    line-height: 1.25em;
  }

  .cm-header-1 {
    font-size: 2em;
  }

  .cm-header-2 {
    font-size: 1.5em;
  }

  .cm-header-3 {
    font-size: 1.25em;
  }

  .cm-header-4 {
    font-size: 1em;
  }

  .cm-header-5 {
    font-size: 0.875em;
  }

  .cm-header-6 {
    font-size: 0.85em;
  }
}
