@import './melt.scss';

.CodeMirror.cm-s-melt-dark {
  // コードブロック内に適用させるための色定義
  // 下記定義を参考に、GFMのハイライトのカラーコードを設定
  // 引用元) https://github.com/codemirror/CodeMirror/blob/master/lib/codemirror.css#L109-L143
  .cm-atom {
    color: #005cc5;
  }
  .cm-attribute {
    color: #005cc5;
  }
  .cm-builtin {
    color: #e36209;
  }
  .cm-comment {
    color: #6a737d;
  }
  .cm-def {
    color: #6f42c1;
  }
  .cm-keyword {
    color: #d73a49;
  }
  .cm-link {
    color: #0366d6;
  }
  .cm-meta {
    color: #005cc5;
  }
  .cm-number {
    color: #005cc5;
  }
  .cm-operator {
    color: #005cc5;
  }
  .cm-string {
    color: #032f62;
  }
  .cm-tag {
    color: #22863a;
  }
  .cm-variable {
    color: #d73a49;
  }
  .cm-variable-2 {
    color: #c9d1d9;
  }
  .cm-variable-3 {
    color: #c9d1d9;
  }

  color: #c9d1d9;

  .CodeMirror-selected {
    background-color: #00b1b3;
    opacity: 0.2;
  }

  .cm-formatting,
  .cm-url {
    color: #444c56;
  }

  // リスト文字の色設定。IME未確定時に色が変わるので上書きしている
  .cm-formatting + .cm-keyword,
  .cm-formatting + .cm-keyword + .cm-keyword,
  .cm-formatting + .cm-keyword + .cm-keyword + .cm-keyword {
    color: #c9d1d9;
  }

  .cm-hr {
    color: #444c56;
  }
}
